<mat-card id="question-{{question?.id}}" cdkDrag [cdkDragFreeDragPosition]="position" (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="savePosition($event, question)">
  <mat-icon cdkDragHandle>drag_handle</mat-icon>
  <p>{{question?.question}}</p>
  <hr />
  <button mat-raised-button *ngFor="let answer of question?.answers; let i = index" id="answer-{{answer.id}}" cdkDrag
    [cdkDragFreeDragPosition]="answer.position" (cdkDragStarted)="dragStart($event, true)" (cdkDragEnded)="reset($event)">
    {{i + 1}}. {{answer.answer}}
  </button>
</mat-card>